
.feature    
    .title.my-6 
        h2.uppercase feature product
    .feature-product.owl-carousel.owl-theme
        .product.product1
            .image    
                img(src="../image/product-21.jpg", alt="")
                div.quick-view.uppercase(href="#" title="Quick view") Quick View
                i.fas.fa-shopping-bag.bag
                h3.uppercase hot    
                h2.uppercase 27% 0ff
                
            .info.my-2
                h5.uppercase category 
                    i.far.fa-heart
                p Product Short Name
                span.vote(title="5.00")
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                h4 
                    span.price $59.00
                    span.new $49.00
                
        .product.product2
            .image    
                img(src="../image/product-22.jpg", alt="")
                div.quick-view.uppercase(href="#" title="Quick view") Quick View
                i.fas.fa-shopping-bag.bag
                h3.uppercase hot   
                
            .info.my-2
                h5.uppercase category 
                    i.far.fa-heart
                p Product Short Name
                span.vote(title="5.00")
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                h4 
                    span.price $59.00
                    span.new $49.00
                
        .product.product3
            .image    
                img(src="../image/product-23.jpg", alt="")
                div.quick-view.uppercase(href="#" title="Quick view") Quick View
                i.fas.fa-shopping-bag.bag
                h3.uppercase hot    
                h2.uppercase 27% 0ff
                
            .info.my-2
                h5.uppercase category 
                    i.far.fa-heart
                p Product Short Name
                span.vote(title="5.00")
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                h4 
                    span.price $59.00
                    span.new $49.00
              
               
        .product.product4
            .image    
                img(src="../image/product-24.jpg", alt="")
                div.quick-view.uppercase(href="#" title="Quick view") Quick View
                i.fas.fa-shopping-bag.bag 
                h2.uppercase 27% off
                
            .info.my-2
                h5.uppercase category 
                    i.far.fa-heart
                p Product Short Name
                span.vote(title="5.00")
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                h4 
                    span.price $59.00
                    span.new $49.00
                
        .product.product2
            .image    
                img(src="../image/product-22.jpg", alt="")
                div.quick-view.uppercase(href="#" title="Quick view") Quick View
                i.fas.fa-shopping-bag.bag
                h3.uppercase hot    
                h2.uppercase 27% 0ff
                
            .info.my-2
                h5.uppercase category 
                    i.far.fa-heart
                p Product Short Name
                span.vote(title="5.00")
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                h4 
                    span.price $59.00
                    span.new $49.00
        .product.product1
            .image    
                img(src="../image/product-21.jpg", alt="")
                div.quick-view.uppercase(href="#" title="Quick view") Quick View
                i.fas.fa-shopping-bag.bag
                h3.uppercase hot    
                
            .info.my-2
                h5.uppercase category 
                    i.far.fa-heart
                p Product Short Name
                span.vote(title="5.00")
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                h4 
                    span.price $59.00
                    span.new $49.00
