.banner-container
    .banner1.banner.my-4
        figure
            img(src="../image/banner-1.jpg", alt="")
        .banner1-content
            .percent
                h4 40
                    span %
                h5 OFF
            .price
                p 
                    span $470
                    br
                    |$270
            .content
                h4 Whatches
                h5 Mega Sales 
                
    .banner2.banner.my-4
        figure
            img(src="../image/banner-2.jpg", alt="")
        .banner2-content
            h3.uppercase trending
            h4 Hat Sales
            h5.uppercase starting at $ 99
            a(href="#") BUY NOW!
    .banner3.banner.my-4
        figure
            img(src="../image/banner-3.jpg", alt="")
        .banner3-content
            h2.uppercase top brands
            h3.uppercase smartphones
            a(href="#") BUY NOW!
    .banner4.banner.my-4
        figure
            img(src="../image/banner-4.jpg", alt="")
        .banner4-content
            h2 FLASH SALES
            h3.uppercase top brands 
                br
                |summer sunglasses
            h4.text-white.ls-n-20
                | Starting
                br
                | AT 
                sup $
                | 199
                sup 99

            a(href="#") VIEW SALE
    .banner5.banner.my-4
        figure
            img(src="../image/banner-5.jpg", alt="")
        .banner5-content
            h5 AMAZING
            h3 COLECTION
            P CHECK OUR DISCOUNTS
            a(href="#") SHOP NOW!
    .banner6.banner.my-4
        figure
            img(src="../image/banner-6.jpg", alt="")
        .banner6-content
            h2.uppercase deal promos
            p.uppercase starting at $99
            a(href="#") BUY NOW!
           
    .banner7.banner.my-4
        figure
            img(src="../image/banner-7.jpg", alt="")
        .banner7-content
            h2.uppercase electronic
             br
             | deals
            h3 Exclusive COUPON
            h4 
                span.rotate UP TO
                span.price $100
                span.off OFF
            a(href="#") GET YOUR! 
    .banner8.banner.my-4
        figure
            img(src="../image/banner-8.jpg", alt="")
        .banner8-content
            h3 Exclusive Shoes 
            h2.uppercase 50% off
            a(href="#") GET YOURS!
    .banner9.banner.my-4
        figure
            img(src="../image/banner-9.jpg", alt="")
        .banner9-content
            p.uppercase check our discounts
            h3.uppercase more than
                br
                | 20 brands
            h4 
                span.rotate UP TO
                span.price $100
                span.off OFF
            a(href="#") CHECK THIS SALE!
            