
.container.my-6
    .left-content.col-lg-3.mb-2
        h2 TOP CATEGORY
        ul
            li
                a(href="#")
                    i.fas.fa-tshirt
                    |Fashion
            li
                a(href="#")
                    i.fas.fa-igloo
                    |Home & Gadent 
            li
                a(href="#")
                    i.fas.fa-gift
                    |Gift 
            li
                a(href="#")
                    i.fas.fa-atom
                    |Electronic
            li
                a(href="#")
                    i.fas.fa-microphone
                    |Music
            li
                a(href="#")
                    i.fas.fa-volleyball-ball
                    |Sports
            a(href="#").btn HUGE SALE -70% OFF
    .right-content.owl-carousel.owl-theme.col-lg-9.mb-2
        .slide.slide1
           img(src="../image/slide-1.jpg", alt="")
           .slide-content
               h4.mb-3 Find the Boundaries. Push Through!
               h3.mb-0 Summer Sale
               h2.mb-3.uppercase 30% OFF 
               h5.uppercase.mb-0 starting at 
                  span.btn 
                    sup $
                    span 199
                    sup 99
               a(href="#").btn-black GET YOURS! 




        .slide.slide2
            img(src="../image/slide-2.jpg", alt="")
            .slide-content
               h4.mb-3 Find the Boundaries. Push Through!
               h3.mb-0 Summer Sale
               h2.mb-3.uppercase 30% OFF 
               h5.uppercase.mb-0 starting at 
                  span.btn 
                    sup $
                    span 299
                    sup 99
               a(href="#").btn-black GET YOURS!  
        .slide.slide3
            img(src="../image/slide-3.jpg", alt="") 
            .slide-content
               h4.mb-3 Find the Boundaries. Push Through!
               h3.mb-0 Summer Sale
               h2.mb-3.uppercase 30% OFF 
               h5.uppercase.mb-0 starting at 
                  span.btn 
                    sup $
                    span 299
                    sup 99
               a(href="#").btn-black GET YOURS!   

