.logo.my-6
    .logo-slide.owl-carousel.owl-theme
        img(src=".//image/brand1.png", alt="")
        img(src=".//image/brand2.png", alt="")
        img(src=".//image/brand3.png", alt="")
        img(src=".//image/brand4.png", alt="")
        img(src=".//image/brand5.png", alt="")
        img(src=".//image/brand6.png", alt="")